.Rproj.user
.Rhistory
.RData
.Ruserdata
.vscode
appdoMarcelo.R
Codigo.txt
Dicio_Biologia.Rproj
rsconnect
tests/BaseDeNeologismos.csv
tests/TestesDoR.Rproj
tests/Basedeneologismos.R
tests/portuguese*
tests/anotacaoUDPipe.csv