.Rproj.user
.Rhistory
.RData
.Ruserdata
.vscode
appdoMarcelo.R
Dicio_Biologia.Rproj
rsconnect
tests/BaseDeNeologismos.csv
tests/TestesDoR.Rproj
tests/Basedeneologismos.R
tests/portuguese*
tests/anotacaoUDPipe.csv
CorpusAppBruno
CorpusAppBruno.zip
*.pyc
__pycache__/
web/dicionario_web/__pycache__/
.env
db.sqlite3
*.sqlite3
venv/
staticfiles/
media/