.Rproj.user
.Rhistory
.RData
.Ruserdata
.vscode
appdoMarcelo.R
Dicio_Biologia.Rproj
rsconnect
tests/BaseDeNeologismos.csv
tests/TestesDoR.Rproj
tests/Basedeneologismos.R
tests/portuguese*
tests/anotacaoUDPipe.csv
CorpusAppBruno
CorpusAppBruno.zip
*.pyc
*.py[cod]
__pycache__/
dicbio/__pycache__/
.env
db.sqlite3
*.sqlite3
venv/
staticfiles/
media/
data/temporalidade_palavras_pt_apenas.csv
nltk_data_storage/
ngrams_original_text.csv
ngrams_stopwords_removed.csv
.idea/
