@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');
 body {
     background-color: #dbe9ee;
     color: #0d1821;
}

* {font-family: 'IM Fell English', serif !important;}

 .shiny-input-container {
     color: #474747;
}
 .navbar-default {
     background-color: #166088;
    
}
 .navbar-default .navbar-brand {
     color: #c0d6df;
}
 .navbar-default .navbar-nav>li>a {
     color: #c0d6df;
     ;
}
 .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
     color: #0d1821;
     background-color: #c0d6df;
}
 ul.nav-pills {
     top: 100px;
     position: fixed;
}
 @media screen and (max-width: 810px) {
     #prefacio, #objetivos, #corpus, #critlex, #publicacoes, #equipe, #agradecimentos, #contato {
         margin-left: 150px;
    }
}