@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap');
 body {
     background-color: #f8f4a6;
     color: #6b2737;
}
 p, h1, h2, h3, li, a {
     font-family: 'Alegreya SC', serif;
}
 .shiny-input-container {
     color: #474747;
}
 .navbar-default {
     background-color: #e08e45;
     font-family: 'Alegreya SC', serif;
}
 .navbar-default .navbar-brand {
     color: #f8f4a6;
}
 .navbar-default .navbar-nav>li>a {
     color: #f8f4a6;
     ;
}
 .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
     color: #6B2737;
     background-color: #F8F4A6;
}
 ul.nav-pills {
     top: 100px;
     position: fixed;
}
 @media screen and (max-width: 810px) {
     #prefacio, #objetivos, #corpus, #critlex, #publicacoes, #equipe, #agradecimentos, #contato {
         margin-left: 150px;
    }
}