<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">
</head>

<body>
    <main>
        <div class="container_texto_box">
            <div class="texto_box">
                <h1>Sobre este dicionário</h1>

                <p>O Dicionário Histórico de Termos da Biologia, em elaboração, traz definições e informações histórico-etimológicas para termos da Biologia extraídos de textos científicos do século XVIII.</p>

                <p>Atualmente, o dicionário contém 106 verbetes, com definições e informações histórico-etimológicas; também contém exemplos extraídos do córpus, formado por obras do século XVIII disponíveis online.</p>

                <p>A descrição do córpus, a equipe e outras informações relevantes encontram-se em "Documentação".</p>

                <p>Este projeto é filiado ao <a href="https://nehilp.prp.usp.br/">Núcleo de Apoio à Pesquisa em Etimologia e História da Língua Portuguesa</a>, coordenado pela Prof.ª Dr.ª Vanessa Martins do Monte, e também conta com o financiamento do Conselho Nacional de Desenvolvimento Científico e Tecnológico (CNPq).</p>

                <p>Para comentários, perguntas e sugestões, contate <a href="mailto:brunomaroneze@ufgd.edu.br">brunomaroneze@ufgd.edu.br</a></p>

            </div>
            <div class="texto_box">
                <h2>Atualizações</h2>
                <ul>
                  <li>10 maio 2024 - Inclusão dos verbetes "adiposo", "bile" e "cápsula"</li>
                  <li>05 dezembro 2023 - Inclusão do verbete "Fitologia"</li>
                  <li>27 novembro 2023 - Inclusão do verbete "aurícula"</li>
                  <li>20 novembro 2023 - Inclusão do verbete "cirro"</li>
                  <li>14 novembro 2023 - Inclusão do verbete "carúncula"</li>
                  <li>06 novembro 2023 - Inclusão do verbete "concameração"</li>
                  <li>30 outubro 2023 - Inclusão do verbete "papila"</li>
                  <li>22 outubro 2023 - Inclusão do verbete "semente"</li>
                  <li>14 outubro 2023 - Inclusão dos verbetes de particípios em -ado</li>
                  <li>15 setembro 2023 - Inclusão dos verbetes "planta" e "suculento"</li>
                  <li>28 agosto 2023 - Inclusão dos verbetes "tronco" e "placenta"; inclusão da seção "Curiosidades"</li>
                  <li>19 maio 2023 - Inclusão do verbete "cibário"</li>
                  <li>15 maio 2023 - Inclusão do verbete "vibrissa"</li>
                  <li>09 abril 2023 - Inclusão do verbete "folha"</li>
                  <li>03 abril 2023 - Inclusão do verbete "raiz"</li>
                  <li>26 março 2023 - Inclusão do verbete "desenvolução"; atualização visual do <em>website</em></li>
                  <li>06 março 2023 - Inclusão do verbete "músculo"</li>
                  <li>28 janeiro 2023 - Atualização dos verbetes "bífido", "cartilagíneo", "diafragma", "conivente", "disco", "epiderme", "escamoso", "filamento", "lacínia", "medular", "túnica", "vilo"</li>
                  <li>21 dezembro 2022 - Inclusão do verbete "pericarpo"</li>
                  <li>21 novembro 2022 - Inclusão do verbete "inseto"</li>
                  <li>23 agosto 2022 - Inclusão dos verbetes "masseter", "miologia", "ócciput" e "órbita"</li>
                  <li>27 julho 2022 - Inclusão dos verbetes "diafragma", "epigástrio", "esôfago" e "glândula"</li>
                  <li>20 junho 2022 - Inclusão do verbete "hipogástrio"</li>
                  <li>24 maio 2022 - Inclusão dos verbetes "resina" e "resinoso"</li>
                  <li>13 maio 2022 - Inclusão do verbete "verrucoso"</li>
                </ul>
            </div>
        </div>
    </main>

</body>
</html>